<p id='yy'><%= currentUser.horario %></p>
<p id='libros'><%= currentUser.seleccionado %></p>
<p id='configUser' class="hide"><%= currentUser.username %></p>
<p id='configEmail' class="hide"><%= currentUser.email %></p>
<p id='configName' class="hide"><%= currentUser.nombreUsuario %></p>
<p id='configCareer' class="hide"><%= currentUser.especialidad %></p>
<div class="divs4" id="erasenext">
    <div id="topd">
        <h1>Bienvenido <%= currentUser.nombreUsuario %>!</h1>
        <div>        
        <div id="improtancia">Editar importancia</div>
        <div id="dias">Editar dias</div>
        <div id="cambiar">Reiniciar horario</div> 
        <div id="imprimir" onclick="window.print()">Imprimir</div>
        </div>
    </div>    
    <div id="midd">
        <h2>este semestre estas cursando:</h2>
        <ul> 
        <% mostrar.map((x)=>{%>
          <li><span><%= x.nombre %> </span><b>(<%= x.codigo %>)</b></li>
        <%}) %>
       </ul>
    </div>    
    <br>
    <br>
    <h2>horario generado</h2>
    <br>    
    <table id='thirdTable'>
      <tr>
          <td>Hora</td>
          <td>Lunes</td>
          <td>Martes</td>
          <td>Miercoles</td>
          <td>Jueves</td>
          <td>Viernes</td>
          <td>Sabado</td>
          <td>Domingo</td>
      </tr>
      <tr>
          <td>07:00</td>
          <td class="0 finalT" data-behaviour=' ' ></td>
          <td class="0 finalT" data-behaviour=' '></td>
          <td class="0 finalT" data-behaviour=' '></td>
          <td class="0 finalT" data-behaviour=' '></td>
          <td class="0 finalT" data-behaviour=' '></td>
          <td class="0 finalT" data-behaviour=' '></td>
          <td class="0 finalT" data-behaviour=' '></td>
      </tr>
      <tr>
          <td>07:40</td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>08:20</td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>09:00</td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>09:40</td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>10:20</td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>11:00</td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>11:40</td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>12:20</td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>13:00</td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>13:40</td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>14:20</td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>15:00</td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>15:40</td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>16:20</td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>17:00</td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>17:40</td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>18:20</td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>19:00</td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>19:40</td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>20:20</td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>21:00</td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>21:40</td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>22:20</td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>23:00</td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>23:40</td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
      </tr>        
  </table>
  <h2>libros disponibles</h2>
  <div id="seccionlibros">

  </div>
    <script>        
        var x = document.getElementById('yy').innerText;
        x = JSON.parse(x);
        var y = document.getElementsByClassName('finalT');
        console.log(y);
        value = 0;
        for(var i=0; i<x.length; i++){
          for(var j=0; j<7;j++){
            if(x[i][j] != '' && isNaN(x[i][j])){
              y[value].innerHTML = x[i][j];              
            }else if(!isNaN(x[i][j]) && x[i][j] == 2){
              y[value].style.backgroundColor = '#fa5252';
            }else if(!isNaN(x[i][j]) && x[i][j] == 1){
              y[value].style.backgroundColor = '#228be6';
            }
            value++;
          }
        }
        var mSelected = document.getElementById('libros').innerText;
        var seccionlibros = document.getElementById('seccionlibros');
        seccionlibros.classList.add("seclib")
        var nuevoslibros = document.createDocumentFragment();
        mSelected = JSON.parse(mSelected);
        for(var i = 0; i<mSelected.length; i++){
            var nombresm = document.createElement('p');
            console.log(mSelected[i].nombre);            
            nuevoslibros.appendChild(nombresm);
            nombresm.classList.add('nombrem')
            nombresm.innerHTML = mSelected[i].nombre;
            if (mSelected[i].libros != undefined){
                lib = mSelected[i].libros;
                for (var j = 0; j<lib.length; j++){
                    var nombresl = document.createElement('a');
                    console.log(lib[j])
                    nuevoslibros.appendChild(nombresl);
                    nombresl.setAttribute('href', 'https://www.google.com/search?q='+lib[j]);   
                    nombresl.setAttribute('target', '_blank');
                    nombresl.classList.add('nombrel')
                    nombresl.innerHTML = lib[j];
                }
            }

        }
        seccionlibros.appendChild(nuevoslibros);    
        console.log(seccionlibros);
        function send3(){    
       console.log('jeje');
        $.ajax({
        url : "/ajaxRoute3",
        type: "PUT"
        
    });
    //three.classList.add('pantallaOff');
    //b.classList.add('pantallaOff');
    //location.reload(true);
    setTimeout(function() {
        location.reload(true);
    }, 1000);    
}    
    var c = document.getElementById('cambiar');
    c.addEventListener('click', send3);

    var parento = document.getElementById('erasenext');
    var eday = document.getElementById('dias');
    var topd = document.getElementById('topd');
    var midd = document.getElementById('midd');
    var table = document.getElementById('thirdTable');
    var brs = document.getElementsByTagName('br');
    var h2 = document.getElementsByTagName('h2');
    var botonsend = document.createElement('div');
    var botonback = document.createElement('div');
    var botondiv = document.createElement('div');
    var divbox = document.createElement('div');   

    //declaracion global pa vainas 
    var casilla = document.getElementsByTagName('td');
var valor = 0;
var arrayMateriasSelected = [];
var fila = 26;
var respond = 0;
        var mouseState = {'mousedown': false, 'mouseup': false};
        var nuevoArray = new Array(fila);
//Bucle para meter en cada posición otros array de 7
for(var i=0; i<fila; i++) {
    nuevoArray[i] = new Array(7);
}

for(var i=0; i<fila; i++){
    for(var j=0; j<7; j++){
        nuevoArray[i][j]= '';
    }
}
function activate (accion){
        if (accion == 'red'){
            if (valor == '' || valor == 1){
                valor = 2;            
            }else{
                valor = '';
                           
           }
        }else if (accion == 'blue'){
            if (valor == 2 || valor == ''){
                valor = 1;            
            }else{
                valor = '';       
           }
        }else if (accion == 'white'){
            if (valor == 1 || valor == 2){
                valor = '';
                
            }else{
                valor = '';
                
            }
           }else if (accion == 'clear'){
               for (var i = 0; i < casilla.length; i++){
                   if(i % 8 != 0 && i > 8 && i !=217 && i !=218 && i !=219 && i !=220 && i !=221 && i !=222 && i !=223){                       
                   casilla[i].style.backgroundColor = 'white';
                }
               }

                   for(var i=0; i<fila; i++){
                    for(var j=0; j<7; j++){
                        nuevoArray[i][j]= '';
                    }
                }
                   
               
           }
           if (valor == 1){
            trabajo.style.color = 'black';
            estudio.style.color = '#228be6';
            libre.style.color = 'black';
           }else if (valor == 2){
            trabajo.style.color = '#fa5252';
            estudio.style.color = 'black';
            libre.style.color = 'black';
           }else{
            trabajo.style.color = 'black';
            estudio.style.color = 'black';
            libre.style.color = '#51cf66';
           }
           //console.log('activado:' + valor);
    }

    //declaracion global  pa cambiar dias

    eday.addEventListener('click', function(){
        console.log("editday");
        parento.removeChild(topd);
        parento.removeChild(midd);
        parento.removeChild(seccionlibros);
        parento.appendChild(divbox);
        divbox.classList.add('selector');
        divbox.style.order = '-1';
        var wrapper = document.getElementsByClassName('divs4');
        wrapper[0].style.display = 'flex';
        wrapper[0].style.flexDirection = 'column';
        var fragmentED = document.createDocumentFragment();
        for(var i=0; i < 4; i++){
            var divboxfragment = document.createElement('div');
            fragmentED.appendChild(divboxfragment);
            if(i == 0){
                divboxfragment.setAttribute('id', 'trabajo');
                divboxfragment.setAttribute('onclick', "activate('red')");
                divboxfragment.innerHTML = 'trabajo';
            }else if(i == 1){
                divboxfragment.setAttribute('id', 'estudio');
                divboxfragment.setAttribute('onclick', "activate('blue')");
                divboxfragment.innerHTML = 'clases';    
            }else if (i == 2){
                divboxfragment.setAttribute('id', 'libre');
                divboxfragment.setAttribute('onclick', "activate('white')");
                divboxfragment.innerHTML = 'borrar';
            }else if (i == 3){
                divboxfragment.setAttribute('id', 'limpiar');
                divboxfragment.setAttribute('onclick', "activate('clear')");
                divboxfragment.innerHTML = 'reiniciar';
            }     
        }
        divbox.appendChild(fragmentED);
        var wrapperbuton = document.createDocumentFragment();
        botondiv.appendChild(botonback);
        botonback.classList.add('bFinal');
        botonback.style.margin = '10px';
        botonback.innerHTML = "salir"
        botonback.addEventListener('click', function(){
            setTimeout(function() {
                location.reload(true);
            }, 1000);
        });
        botondiv.appendChild(botonsend);
        botonsend.classList.add('bFinal');
        botonsend.style.margin = '10px';
        botonsend.innerHTML = ">";
        wrapperbuton.appendChild(botondiv);
        botondiv.style.display = 'flex';
        botondiv.style.flexDirection = 'row';
        botondiv.style.justifyContent = 'center';
        parento.appendChild(wrapperbuton);        
        let cont = 0;
        for (var i = 0; i<3; i++){
            parento.removeChild(brs[0]);
        }
        for (var i = 0; i<2; i++){
            parento.removeChild(h2[0]);
        }
        /*for (var i = 0; i<y.length; i++){            
                
                if(y[i].style.backgroundColor == 'rgb(34, 139, 230)'){
                    console.log('azul, posicion:' +i);
                    nuevoArray[cont][]                    
                }
            if(i % 6 == 1){
                cont ++;
            }    
        }*/
        for(var i=0; i<fila; i++){
         for(var j=0; j<7; j++){
            y[cont].innerHTML = '';
                if(y[cont].style.backgroundColor == 'rgb(34, 139, 230)'){
                    nuevoArray[i][j] = 1;                  
                }else if(y[cont].style.backgroundColor == 'rgb(250, 82, 82)'){
                    nuevoArray[i][j] = 2;                  
                }
                cont++;
            }
            
        }         
        // INTENTO DE CAMBIAR DIAS 
        
// ========== CAMBIOS PARA SOLUCIONAR EL (BUG) FEATURE
for (var i = 0; i < casilla.length; i++){
    if (i % 8 != 0){
    	['mouseover', 'mousedown', 'mouseup'].forEach(event => casilla[i].addEventListener(event, table
    	));
    } 
}


function table(e){
	mouseState[e.type] = e.type == 'mousedown' || e.type == 'mouseup';
	if(mouseState.mousedown == true && mouseState.mouseup == false){
		let field = e.target;
		field.behaviour = valor;
		nuevoArray[parseInt(field.className)][field.cellIndex-1] = field.behaviour;
		if (valor == ''){
            field.style.backgroundColor = 'white';
        }
        else if (valor == 1){
            field.style.backgroundColor = '#228be6';
        }
        else{
            field.style.backgroundColor = '#fa5252';
        };
	}
	else{
		mouseState = {'mousedown': false, 'mouseup': false};
	}

}
    botonsend.addEventListener('click', function(){
        for(var i=0; i< mSelected.length; i++){
                mSelected[i].calcPonderacion = function(){
                    this.ponderacion = 40 + this.importancia*15  + this.evaluacion*5 + this.creditos*5 - 10*this.included;
                }
            }
            for(var i=0; i<7; i++){
            var max = 0;
            var ya = false;
            for(var j=0; j<fila; j++){
                var juntos = 0;
                if(j<22){
                    for(var l = j; l < j+5; l++){                                        
                        if(nuevoArray[l][i] == ''){
                            juntos++;
                            if(juntos == 5){
                                ya = true;
                            }
                        }else{
                            juntos = 0;
                        }
                    }
                }
                if(ya == true && max < 5){
                    for(var m = j; m<j+4; m++){
                        nuevoArray[m][i]= 5;
                        max++;
                    }                
                }
            }
        }                        
      let tempArray = [];
      let materiaToAssign;
      for(let i=0; i < 7; i++){
          for(let j=0; j < nuevoArray.length; j++){
              if(tempArray.every((element) => element.ponderacion <= 0) || tempArray.length == 0){
                  tempArray = copyArray(mSelected);
                  console.log(tempArray) //ESTA FUNCION ESTA EN LA LINEA 433
              }
              if(nuevoArray[j][i] == 5){
                  tempArray.sort(function(x, y){
                      if(x.ponderacion < y.ponderacion){
                          return -1;
                      }
                  });
                  materiaToAssign = tempArray[tempArray.length-1];
                  materiaToAssign.included += 1;
                  materiaToAssign.calcPonderacion();
                  console.log(materiaToAssign.nombre)
                  nuevoArray[j][i] = materiaToAssign.nombre;
              }
          }
      }
      for(var k= 0; k< 7; k++){
        let temporal = [];
        for(var j= 0; j< fila; j++){
            if (isNaN(nuevoArray[j][k])){
                temporal.push(nuevoArray[j][k]);                
            }
        }
        temporal.sort();
      //  console.log(temporal);        
        let space = 0;
        for(var j = 0; j< fila; j++){
                      
            if (isNaN(nuevoArray[j][k])){
                if(space <temporal.length){
                nuevoArray[j][k] = temporal[space];
                space++;
                }                                
            }
        }        
    }
      function copyArray(array){    
          // Función para copiar el mSelected
          let arrayReturned = [];
          array.forEach(function(materia_element){
              arrayReturned.push(Object.assign({}, materia_element));
          });
          return arrayReturned;
      }
      send();
      send2();
    })




    });
    function borrarDashboard(config){
        var config;
        parento.removeChild(topd);
        parento.removeChild(midd);
        parento.removeChild(seccionlibros);
        parento.removeChild(table);
        for (var i = 0; i<3; i++){
            parento.removeChild(brs[0]);
        }
        for (var i = 0; i<2; i++){
            parento.removeChild(h2[0]);
        }
        var wrapperbuton = document.createDocumentFragment();
        botondiv.appendChild(botonback);
        botonback.classList.add('bFinal');
        botonback.style.margin = '10px';
        botonback.innerHTML = "salir"
        botonback.addEventListener('click', function(){
            setTimeout(function() {
                location.reload(true);
            }, 1000);
        });
        if(config == 0){
        botondiv.appendChild(botonsend);
        botonsend.classList.add('bFinal');
        botonsend.style.margin = '10px';
        botonsend.innerHTML = ">";
        }else if(config == 1){
            var sendForm = document.createElement('button');
            botondiv.appendChild(sendForm);
            sendForm.classList.add('bFinal');
            sendForm.style.margin = '10px';
            sendForm.innerHTML = ">";
        }
        wrapperbuton.appendChild(botondiv);
        botondiv.style.display = 'flex';
        botondiv.style.flexDirection = 'row';
        botondiv.style.justifyContent = 'center';
        parento.appendChild(wrapperbuton);
    }
    
    var eimportance = document.getElementById('improtancia');
    eimportance.addEventListener('click', function(){
        console.log("editimportance");
        borrarDashboard(0);
        nuevoArray = x;
        for(var i=0; i<fila; i++){
            for(var j=0; j<7; j++){
                if(nuevoArray[i][j] != '' && isNaN(nuevoArray[i][j])){
                    nuevoArray[i][j] = '';
                }
            }
        }
        let divWrapper = document.createElement('div');                 
        let importanceFragment = document.createDocumentFragment();
        importanceFragment.appendChild(divWrapper);
        divWrapper.classList.add('wrapperImportance');
        for (var i = 0; i < mSelected.length; i++){
            let divMateria = document.createElement('div');
            let divLeft = document.createElement('div');
            let name = document.createElement('h4');
            let divCheckbox = document.createElement('div');
            let divErase = document.createElement('div');
            let explanation = document.createElement('h6');
            divWrapper.appendChild(divMateria);
            divMateria.classList.add('importanceMateria')
            divMateria.setAttribute('id', 'materia' + i);
            divMateria.appendChild(divLeft);
            divLeft.classList.add('info');
            divLeft.appendChild(name);
            name.style.marginTop = '0px';
            name.innerText = mSelected[i].nombre + " (" + mSelected[i].codigo + ")";
            divLeft.appendChild(explanation);
            explanation.innerText = '- Importancia personal +';
            explanation.style.margin = '0px';
            divLeft.appendChild(divCheckbox);
            divCheckbox.classList.add('checkImportance');
            divCheckbox.setAttribute('pulse', i);
            var intensityText = -3;
            var fragmentcheck = document.createDocumentFragment();
            for (var j=0; j<5; j++){
                let intensity = document.createElement('input');
                intensity.style.width = '20px'
                intensity.style.height = '20px'
                intensity.style.margin = '2px'
                intensity.style.display = 'inline-block';
                intensity.setAttribute('type', 'radio')
                intensity.setAttribute('name', 'checkboxgroup'+i);
                intensity.setAttribute('name', 'checkboxgroup'+i);
                intensity.style.textAlign = 'center';
                intensity.style.border = '1px black solid'
                intensity.classList.add('intensity');
                intensityText = intensityText+1;
                intensity.innerHTML = intensityText;
                intensity.setAttribute('intense', intensityText);
                if(mSelected[i].importancia == intensity.innerText){
                    intensity.setAttribute('checked', '');
                }
                fragmentcheck.appendChild(intensity);
             }  
            divCheckbox.appendChild(fragmentcheck);
            divMateria.appendChild(divErase);
            divErase.classList.add('delete');
            divErase.setAttribute('pulse', i);
            divErase.addEventListener('click', function(){
                var del = document.getElementsByClassName('wrapperImportance');
                var contador = document.getElementsByClassName('delete');
                var contadorCheckbox = document.getElementsByClassName('checkImportance');
                if(contador.length > 1){                
                del[0].removeChild(this.parentElement);
                var restante = contador.length;
                for (var i = 0; i< restante; i++){
                    contador[i].setAttribute('pulse', i);
                    contadorCheckbox[i].setAttribute('pulse', i);
                }
                console.log(restante);
                mSelected.splice(this.attributes.pulse.value, 1);
                console.log(mSelected);
                }else{
                    alert('No se puede borrar la ultima materia, si quieres rehacer el horario: En el dashboard encontraras un boton que dice "Reiniciar horario"');
                }
            });
        }
        parento.appendChild(importanceFragment);
        let botonSend = document.getElementsByClassName('bFinal');
        botonSend = botonSend[1];
        botonSend.addEventListener('click', function(){            
            var contadorCheckbox = document.getElementsByClassName('checkImportance');
            for(var i = 0; i < contadorCheckbox.length; i++){
                for (var j = 0; j< 5; j++){
                    if(contadorCheckbox[i].childNodes[j].checked == true){
                        mSelected[i].importancia = parseInt(contadorCheckbox[i].childNodes[j].attributes.intense.value);
                    }
                }
            }
            for(var i=0; i< mSelected.length; i++){
                mSelected[i].calcPonderacion = function(){
                    this.ponderacion = 40 + this.importancia*15  + this.evaluacion*5 + this.creditos*5 - 10*this.included;
                }
            }
            for(var i=0; i<7; i++){
            var max = 0;
            var ya = false;
            for(var j=0; j<fila; j++){
                var juntos = 0;
                if(j<22){
                    for(var l = j; l < j+5; l++){                                        
                        if(nuevoArray[l][i] == ''){
                            juntos++;
                            if(juntos == 5){
                                ya = true;
                            }
                        }else{
                            juntos = 0;
                        }
                    }
                }
                if(ya == true && max < 5){
                    for(var m = j; m<j+4; m++){
                        nuevoArray[m][i]= 5;
                        max++;
                    }                
                }
            }
        }                        
      let tempArray = [];
      let materiaToAssign;
      for(let i=0; i < 7; i++){
          for(let j=0; j < nuevoArray.length; j++){
              if(tempArray.every((element) => element.ponderacion <= 0) || tempArray.length == 0){
                  tempArray = copyArray(mSelected);
                  console.log(tempArray) //ESTA FUNCION ESTA EN LA LINEA 433
              }
              if(nuevoArray[j][i] == 5){
                  tempArray.sort(function(x, y){
                      if(x.ponderacion < y.ponderacion){
                          return -1;
                      }
                  });
                  materiaToAssign = tempArray[tempArray.length-1];
                  materiaToAssign.included += 1;
                  materiaToAssign.calcPonderacion();
                  console.log(materiaToAssign.nombre)
                  nuevoArray[j][i] = materiaToAssign.nombre;
              }
          }
      }
      for(var k= 0; k< 7; k++){
        let temporal = [];
        for(var j= 0; j< fila; j++){
            if (isNaN(nuevoArray[j][k])){
                temporal.push(nuevoArray[j][k]);                
            }
        }
        temporal.sort();
      //  console.log(temporal);        
        let space = 0;
        for(var j = 0; j< fila; j++){
                      
            if (isNaN(nuevoArray[j][k])){
                if(space <temporal.length){
                nuevoArray[j][k] = temporal[space];
                space++;
                }                                
            }
        }        
    }
      function copyArray(array){    
          // Función para copiar el mSelected
          let arrayReturned = [];
          array.forEach(function(materia_element){
              arrayReturned.push(Object.assign({}, materia_element));
          });
          return arrayReturned;
      }
      
            console.log(nuevoArray);
            send();
        send2();    
        })
    });

    var econfiguracion = document.getElementById('configu');
    econfiguracion.style.cursor = "pointer"
    econfiguracion.addEventListener('click', function(){
        console.log();
        borrarDashboard(1);
        var configUser = document.getElementById("configUser");
        var configName = document.getElementById("configName");
        var configEmail = document.getElementById("configEmail");
        var configCareer = document.getElementById("configCareer").innerText;
        console.log(configUser.innerText);      
        console.log(configName.innerText);
        console.log(configEmail.innerText);
        console.log(configCareer);        
        var cofigFragment = document.createDocumentFragment();
        var fieldCareer = document.createElement('select');
        var form = document.createElement('form');
        for (var i = 0 ; i < 4; i++){
            var divField = document.createElement('div');
            divField.style.backgroundColor = '#a5d8ff';
            divField.style.marginBottom = '20px';
            divField.style.padding = '10px';
            divField.style.width = '25em';
            divField.style.borderRadius = '5px';
            var name = document.createElement('p');
            name.style.fontWeight = 'bold';
            name.style.marginTop = '0px';
            var textField = document.createElement('input');
            textField.style.height = '2em';
            textField.style.width = '20em';
            if(i == 0){
                let group = document.createElement('h2');
                let groupExplanation = document.createElement('h3');                
                group.innerText = 'actualizar tus datos';
                groupExplanation.innerText = 'sí deseas cambiar los datos asosciados a tu cuenta, ingresa el nuevo valor en la casilla que quieras editar y posteriormente haz click en el botón de siguiente para realizar los cambios.'
                group.style.textAlign = 'left';
                groupExplanation.style.textAlign = 'left';
                group.style.marginBottom = '10px';
                groupExplanation.style.margin = '0px 0px 10px 0px';
                groupExplanation.style.maxWidth = '40rem';
                groupExplanation.style.fontWeight = 'normal';
                groupExplanation.style.fontSize = '1.2rem';
                cofigFragment.appendChild(group);
                cofigFragment.appendChild(groupExplanation);
                cofigFragment.appendChild(divField);
                divField.appendChild(name);
                name.innerText = 'Nombre del Estudiante';
                divField.appendChild(textField);
                textField.setAttribute('type', 'text');
                textField.setAttribute('name', 'nombreUsuario');
                textField.setAttribute('placeholder', configName.innerText);
            }else if(i == 1){
                cofigFragment.appendChild(divField);
                divField.appendChild(name);
                name.innerText = 'Nombre de Usuario';
                divField.appendChild(textField);
                textField.setAttribute('type', 'text');
                textField.setAttribute('name', 'username');
                textField.setAttribute('disabled', 'disabled');
                textField.setAttribute('placeholder', configUser.innerText);
            }else if(i == 2){
                cofigFragment.appendChild(divField);
                divField.appendChild(name);
                name.innerText = 'Correo electronico';
                divField.appendChild(textField);
                textField.setAttribute('type', 'email');
                textField.setAttribute('name', 'email');
                textField.setAttribute('placeholder', configEmail.innerText);
            }else{
                cofigFragment.appendChild(divField);
                divField.appendChild(name);
                name.innerText = 'Especialidad';
                divField.appendChild(fieldCareer);
                fieldCareer.setAttribute('name', 'especialidad');
                fieldCareer.setAttribute('id', 'select');
                fieldCareer.style.height = '2.6em';
                fieldCareer.style.width = '20.5em';
                for (var j = 0; j < 8; j++){
                    optionCareer = document.createElement('option');
                    if (j == 0){
                        fieldCareer.appendChild(optionCareer);
                        optionCareer.setAttribute('value', 'Ingeniería Agronómica');
                        optionCareer.innerText = 'Ingeniería Agronómica';
                        if(optionCareer.innerText == configCareer){                       
                            optionCareer.selected = 'true';
                        }
                    }else if(j == 1){
                        fieldCareer.appendChild(optionCareer);
                        optionCareer.setAttribute('value', 'Ingeniería de Petróleo');
                        optionCareer.innerText = 'Ingeniería de Petróleo';
                        if(optionCareer.innerText == configCareer){                       
                            optionCareer.selected = 'true';
                        }
                    }else if(j == 2){
                        fieldCareer.appendChild(optionCareer);
                        optionCareer.setAttribute('value', 'Ingeniería de Sistemas');
                        optionCareer.innerText = 'Ingeniería de Sistemas';
                        if(optionCareer.innerText == configCareer){                       
                            optionCareer.selected = 'true';
                        }
                    }else if(j == 3){
                        fieldCareer.appendChild(optionCareer);
                        optionCareer.setAttribute('value', 'Ingeniería en Producción Animal');
                        optionCareer.innerText = 'Ingeniería en Producción Animal';
                        if(optionCareer.innerText == configCareer){                       
                            optionCareer.selected = 'true';
                        }
                    }else if(j == 4){
                        fieldCareer.appendChild(optionCareer);
                        optionCareer.setAttribute('value', 'Licenciatura en Administración');
                        optionCareer.innerText = 'Licenciatura en Administración';
                        if(optionCareer.innerText == configCareer){                       
                            optionCareer.selected = 'true';
                        }
                    }else if(j == 5){
                        fieldCareer.appendChild(optionCareer);
                        optionCareer.setAttribute('value', 'Licenciatura en Contaduría Pública');
                        optionCareer.innerText = 'Licenciatura en Contaduría Pública';
                        if(optionCareer.innerText == configCareer){                       
                            optionCareer.selected = 'true';
                        }
                    }else if(j == 6){
                        fieldCareer.appendChild(optionCareer);
                        optionCareer.setAttribute('value', 'Licenciatura en Gerencia de Recursos Humanos');
                        optionCareer.innerText = 'Licenciatura en Gerencia de Recursos Humanos';
                        if(optionCareer.innerText == configCareer){                       
                            optionCareer.selected = 'true';
                        }
                    }else if(j == 7){
                        fieldCareer.appendChild(optionCareer);
                        optionCareer.setAttribute('value', 'Licenciatura en Tecnología de los Alimentos');
                        optionCareer.innerText = 'Licenciatura en Tecnología de los Alimentos';
                        if(optionCareer.innerText == configCareer){                       
                            optionCareer.selected = 'true';
                        }
                    }                    
                }
                
            }                      
        } 
        var wrapper = document.getElementById('erasenext');
        wrapper.style.display = 'flex';
        wrapper.style.flexDirection = 'column';
        wrapper.appendChild(form);
        form.appendChild(cofigFragment);
        form.setAttribute('id','config-form');
        form.setAttribute('action','/ajaxRoute4');
        form.setAttribute('method','POST');
        wrapper.children[1].style.order = '6';
        let botonSend = document.getElementsByClassName('bFinal');
        botonSend = botonSend[1];
        botonSend.setAttribute('type', 'submit');
        botonSend.setAttribute('form', 'config-form');
        botonSend.addEventListener('click', function(){
            var messagetest = document.getElementsByTagName('input');
            console.log(messagetest);
        });  

    });
    function send(){
         var testJson = JSON.stringify(nuevoArray);
         console.log(testJson);
        $.ajax({
        url : "/ajaxRoute",
        type: "POST",
       dataType:'json',
        data : {
            arrayBox: testJson        
        },
        success: function(data){
            console.log(data.msg); // 'OK'
        },
    });
}

function send2(){
    var testJson2 = JSON.stringify(mSelected);
    
    console.log(testJson2);
        $.ajax({
        url : "/ajaxRoute2",
        type: "POST",
       dataType:'json',
        data : {            
            arraySelected: testJson2
        },
        success: function(data){
            console.log(data.msg); // 'OK'
        },
    });
    //three.classList.add('pantallaOff');
    //b.classList.add('pantallaOff');
    //location.reload(true);
    setTimeout(function() {
        location.reload(true);
    }, 1000);    
}
    </script>
</div>