
<div class="divs4">
    <div id="topd">
        <h1>Bienvenido <%= currentUser.nombreUsuario %>!</h1>
        <div>        
        <div id="improtancia">Editar importancia</div>
        <div id="dias">Editar dias</div>
        <div id="cambiar">Reiniciar horario</div> 
        <div id="imprimir" onclick="window.print()">Imprimir</div>
        </div>
    </div>    
    <div id="midd">
        <h2>este semestre estas cursando:</h2>
        <ul> 
        <% mostrar.map((x)=>{%>
          <li><span><%= x.nombre %> </span><b>(<%= x.codigo %>)</b></li>
        <%}) %>
       </ul>
    </div>    
    <br>
    <br>
    <h2>horario generado</h2>
    <br>
    <p id='yy'><%= currentUser.horario %></p>
    <p id='libros'><%= currentUser.seleccionado %></p>
    <table id='thirdTable'>
      <tr>
          <td>Hora</td>
          <td>Lunes</td>
          <td>Martes</td>
          <td>Miercoles</td>
          <td>Jueves</td>
          <td>Viernes</td>
          <td>Sabado</td>
          <td>Domingo</td>
      </tr>
      <tr>
          <td>07:00</td>
          <td class="0 finalT" data-behaviour=' ' ></td>
          <td class="0 finalT" data-behaviour=' '></td>
          <td class="0 finalT" data-behaviour=' '></td>
          <td class="0 finalT" data-behaviour=' '></td>
          <td class="0 finalT" data-behaviour=' '></td>
          <td class="0 finalT" data-behaviour=' '></td>
          <td class="0 finalT" data-behaviour=' '></td>
      </tr>
      <tr>
          <td>07:40</td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>08:20</td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>09:00</td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>09:40</td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>10:20</td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>11:00</td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>11:40</td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>12:20</td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>13:00</td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>13:40</td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>14:20</td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>15:00</td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>15:40</td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>16:20</td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>17:00</td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>17:40</td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>18:20</td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>19:00</td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>19:40</td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>20:20</td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>21:00</td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>21:40</td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>22:20</td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>23:00</td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>23:40</td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
      </tr>        
  </table>
  <h2>libros disponibles</h2>
  <div id="seccionlibros">

  </div>
    <script>        
        var x = document.getElementById('yy').innerText;
        x = JSON.parse(x);
        var y = document.getElementsByClassName('finalT');
        console.log(y);
        value = 0;
        for(var i=0; i<x.length; i++){
          for(var j=0; j<7;j++){
            if(x[i][j] != '' && isNaN(x[i][j])){
              y[value].innerHTML = x[i][j];              
            }else if(!isNaN(x[i][j]) && x[i][j] == 2){
              y[value].style.backgroundColor = '#fa5252';
            }else if(!isNaN(x[i][j]) && x[i][j] == 1){
              y[value].style.backgroundColor = '#228be6';
            }
            value++;
          }
        }
        var lolo = document.getElementById('libros').innerText;
        var seccionlibros = document.getElementById('seccionlibros');
        seccionlibros.classList.add("seclib")
        var nuevoslibros = document.createDocumentFragment();
        lolo = JSON.parse(lolo);
        for(var i = 0; i<lolo.length; i++){
            var nombresm = document.createElement('p');
            console.log(lolo[i].nombre);            
            nuevoslibros.appendChild(nombresm);
            nombresm.classList.add('nombrem')
            nombresm.innerHTML = lolo[i].nombre;
            if (lolo[i].libros != undefined){
                lib = lolo[i].libros;
                for (var j = 0; j<lib.length; j++){
                    var nombresl = document.createElement('a');
                    console.log(lib[j])
                    nuevoslibros.appendChild(nombresl);
                    nombresl.setAttribute('href', 'https://www.google.com/search?q='+lib[j]);   
                    nombresl.setAttribute('target', '_blank');
                    nombresl.classList.add('nombrel')
                    nombresl.innerHTML = lib[j];
                }
            }

        }
        seccionlibros.appendChild(nuevoslibros);    
        console.log(seccionlibros);
        function send3(){    
       console.log('jeje');
        $.ajax({
        url : "/ajaxRoute3",
        type: "PUT"
        
    });
    //three.classList.add('pantallaOff');
    //b.classList.add('pantallaOff');
    //location.reload(true);
    setTimeout(function() {
        location.reload(true);
    }, 1000);    
}

        
        var c = document.getElementById('cambiar');
        c.addEventListener('click', send3);
    </script>
</div>