<%- include('partials/header'); -%>

<nav class="navbar navbar-light bg-light navbar-expand-lg">
    <img src="/img/logo1.png" id="brandLogo" alt=""><a href="#" class="navbar-brand">UDO</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="#" class="nav-link">Conectado como: <%= currentUser.nombreUsuario %></a>
        </li>
        <li class="nav-item">
            <a href="/logout" class="nav-link">Desconectarse</a>
        </li>
    </ul>
</nav>

<div class="row">
    <div class="col-lg-8">
        <%- include('partials/selections'); -%>
        <%- include('partials/selections'); -%>
        <%- include('partials/selections'); -%>
        <%- include('partials/selections'); -%>
        <%- include('partials/selections'); -%>
        <%- include('partials/selections'); -%>
    </div>
    <div class="col-lg-4">
        <img src="/img/profile-placeholder.png" class="img-thumbnail" alt="">
    </div>
</div>

<%- include('partials/footer'); -%>